<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key>

<string>https://github.com/attiqfsd/apps-for-Impactor/raw/master/kodi.ipa</string>

</dict><dict><key>kind</key><string>full-size-image</string><key>needs-shine</key><true/><key>url</key><string>http://chiaseacc.com/apps/appstore/kodi_512x512.png</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true/><key>url</key>

<string>http://chiaseacc.com/apps/appstore/kodi_512x512.png</string>

</dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>kodi17</string><key>bundle-version</key><string>3800</string><key>kind</key><string>software</string><key>subtitle</key><string>Kodi 17.1 Jarvis</string><key>title</key>

<string>Kodi 17.1 Krypton No Jaibreak final by drgeeky.com</string>

</dict></dict></array></dict></plist>